@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .card-one{
        background: #e38826;
        color: white;
        padding: 40px;
    }
        .card-two {
            background: #006970;
            color: white;
            padding: 40px;
        }
                .card-three {
                    background: #004241;
                    color: white;
                    padding: 40px;
                }
}